# Visual Studio Code
.vscode/*

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# Angular
aot/
node_modules/
app/**/*.js
app/**/*.js.map
app/**/*.ngsummary.json
public-app/**/*.js
public-app/**/*.js.map
public-app/**/*.ngsummary.json
core-module/**/*.js
core-module/**/*.js.map
core-module/**/*.ngsummary.json
dist/**/*.*
dist1/**/*.*
