
*.lock
/StarterKit/Models/obj
/StarterKit/StarterKit.Common/obj
/StarterKit/StarterKit.Components/obj
/StarterKit/StarterKit.SQLite/obj
/StarterKit/StarterKit.RequestHandler/obj
/StarterKit/StarterKit.Contracts/obj
/StarterKit/StarterKit.ViewModels/obj
/StarterKit/StarterKit.UI/StarterKit.UI/obj
/StarterKit/StarterKit.UI/StarterKit.iOS/obj
/StarterKit/StarterKit.UI/StarterKit.Android/obj
/StarterKit/Models/bin
/StarterKit/StarterKit.Common/bin
/StarterKit/StarterKit.Components/bin
/StarterKit/StarterKit.SQLite/bin
/StarterKit/StarterKit.RequestHandler/bin
/StarterKit/StarterKit.Contracts/bin
/StarterKit/StarterKit.ViewModels/bin
/StarterKit/StarterKit.UI/StarterKit.UI/bin
/StarterKit/StarterKit.UI/StarterKit.iOS/bin
/StarterKit/StarterKit.UI/StarterKit.Android/bin
/StarterKit/.vs
/StarterKit/.vs/StarterKit
/StarterKit/StarterKit.UI/StarterKit.Android/Resources
StarterKit/.vs/StarterKit/v15/Server/sqlite3/storage.ide
StarterKit/.vs/StarterKit/v15/Server/sqlite3/storage.ide-shm
StarterKit/.vs/StarterKit/v15/Server/sqlite3/storage.ide-wal
StarterKit/.vs/StarterKit/v15/.suo
*.ide
*.ide-shm
*.ide-wal
