@{
    ViewData["Title"] = "Home Page";
}

<div>
    <app>
    <div id="appInitloadingWidget" style="opacity: 0.8;filter:alpha(opacity=80);position:fixed;top:0;width:100%;height:100%;z-index:10000;">
        <img alt="Loading" src="/assets/images/loading-blue-bak.gif" style="padding-left:50%;padding-top:25%" />
    </div>
    </app>
</div>
