<div class="login-base-container">               
  <div class="login-form">
        <h1 class="login-title">{{'PUBLIC.Login.title' | translate }}</h1>
      <div class="social">
          <h4 style="margin: 0 0 41px 0px;">{{ _socialLoginTitle }}</h4>
          <ul>
              <li>
                  <a href="#" (click)="socialSignIn('google')" class="google-plus">
                    <span class="fa fa-google"></span>
                  </a>
                </li> 
          </ul>
         </div>
  </div>                
</div>