        <div class="social">         
                <ul>
                  <li>
                  <a href="#" (click)="socialSignIn('google')" class="google-plus">
                      <span class="fa fa-google"> | Sign In with Google</span>
                    </a> 
                  </li>                
                  <li>
                  <a href="#" (click)="socialSignIn('facebook')" class="facebook">
                      <span class="fa fa-facebook"> | Sign In with facebook</span>
                    </a>
                  </li>
                  </ul>              
  </div>   